.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.Logo-center {
  fill: #f55385;
}

.Logo-electron {
  stroke: #3794ff;
}

.Logo-orbit {
  stroke: palegoldenrod;
  stroke-width: 50px;
  fill: none;
  stroke-dasharray: 100px 50px;
  animation: orbit 500ms infinite linear;
}

.Votes {
  list-style: none;
}

.Votes li {
  padding: 0.25rem 0;
  margin-bottom: 1rem;
  font-variant-numeric: tabular-nums;
}

@keyframes orbit {
  to {
    stroke-dashoffset: 150px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .App-logo {
    animation: none;
  }

  .Logo-orbit {
    animation: none;
  }

  .Logo-electron {
    display: none;
  }
}
